<div class="sidebar-banners side-box">
  <div class="sub-banner">
      <div class="banner-inner">
        <a href="{{ section.settings.leftbannerlink | escape }}">
         <img src="{{ section.settings.leftbanner | img_url: "large"}}"
         alt="{{ section.settings.leftbanner.alt }}"
         itemprop="banner">
        </a>
      </div>
  </div>
</div>