.cart-items td,
.cart-items th {
  padding: 0;
  border-bottom: 1px solid var(--color-base-border);
}
.cart-items .cart-item__totals cart-remove-button {
	display: none;
}
.cart-item__totals .price {
	font-weight: 500;
}
  .cart-item quantity-input {
   float: left;
  }

.cart-items th {
  text-align: left;
  padding-bottom: 1.8rem;
  font-weight: 500;
  color: var(--color-base-text);
}

.cart-item__totals {
  position: relative;
}

.cart-items *.right {
  text-align: right;
}

.cart-item__image {
	max-width: 100%;
	/* border: 1px solid var(--color-base-border); */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
}

.cart-item__details {
  font-size: 14px;
  line-height: 1.4;
}

.cart-item__details > * {
  margin: 0;
  max-width: 30rem;
}

.cart-item__details > * + * {
  margin-top: 0.8rem;
}

.cart-item__media {
  position: relative;
}

.cart-item__name {
	color: var(--color-foreground);
	text-decoration: none;
	display: block;
}

.cart-item__name:hover {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 0.2rem;
}

.cart-item__price-wrapper {
  margin: 0;
}

.cart-item__price-wrapper > * {
  display: block;
  margin: 0;
  padding: 0;
}

.cart-item__discounted-prices dd {
  margin: 0;
}

.cart-item__old-price {
  opacity: 0.7;
}

.product-option {
  font-size: 14px;
  line-height: 24px;
}

.cart-item cart-remove-button {
	display: inline-block;
	margin-left: 2rem;
  	margin-top: 4px;
}


@media screen and (min-width: 750px) and (max-width: 989px) {
  .cart-item cart-remove-button {
    width: 4.5rem;
    height: 4.5rem;
  }
}

cart-remove-button .button {
  min-width: 4.5rem;
  min-height: 4.5rem;
  padding: 0;
  margin: 0 0.1rem 0.1rem 0;
}

@media screen and (min-width: 750px) {
  cart-remove-button .button {
    min-width: 3.5rem;
    min-height: 3.5rem;
  }
}

cart-remove-button .icon-remove {
  height: 1.5rem;
  width: 1.5rem;
  color: var(--color-base-accent-2);
}

cart-remove-button .button:hover {
    background: none;
}

.cart-item .loading-overlay {
  top: auto;
  left: auto;
  right: 0;
  bottom: 0;
  padding: 0;
}

@media screen and (min-width: 750px) {
  .cart-item .loading-overlay {
    top: 0;
    padding-top: 5.5rem;
    bottom: auto;
  }
}

.loading-overlay:not(.hidden) ~ * {
  visibility: hidden;
}

.cart-item__error {
  font-size: 1.2rem;
  display: flex;
}

.cart-item__error-text {
  order: 1;
}

.cart-item__error-text + svg {
  width: 1.2rem;
  margin-right: 0.7rem;
}

.cart-item__error-text:empty + svg {
  display: none;
}

.product-option {
  color: var(--color-base-accent-2);
}

.product-option + .product-option {
  margin-top: 0.4rem;
}

.product-option * {
  display: inline;
  margin: 0;
}

.cart-items thead th {
	text-transform: uppercase;
}

@media screen and (max-width: 749px) {

  .cart-items thead tr {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-base-border);
    margin-bottom: 4rem;
  }

  .cart-items .medium-up {
    display: none;
  }

  .cart-item {
    display: grid;
    grid-template: repeat(2, auto) / repeat(4, 1fr);
    gap: 1.5rem;
    margin-bottom: 3.5rem;
  }

  .cart-item:last-child {
    margin-bottom: 0;
  }

  .cart-item__media {
    grid-row: 1 / 3;
  }

  .cart-item__details {
    grid-column: 2 / 4;
  }

  .cart-item__quantity {
    grid-column: 2 / 4;
  }

  .cart-item__totals {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 750px) {
  .cart-items {
    border-spacing: 0;
    border-collapse: separate;
    box-shadow: none;
    width: 100%;
    display: table;
  }

  .cart-items th {
    border-bottom: 1px solid var(--color-base-border);
  }

  .cart-items th + th {
    padding-left: 4rem;
  }

  .cart-items td {
    vertical-align: middle;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .cart-item {
    display: table-row;
  }

  .cart-item > td + td {
    padding-left: 4rem;
  }

  .cart-item__media {
    width: 7.5rem;
  }



  .cart-items .medium-down {
    display: none;
  }
}

@media screen and (min-width: 990px) {
  .cart-item .cart-item__quantity,
  .cart-items .cart-items__heading--wide {
    padding-left: 10rem;
  }
}
@media (max-width: 989px) {
.cart-items .cart-item__quantity cart-remove-button {
	display: none;
}
.cart-items .cart-item__totals cart-remove-button {
	display: inline-block;
}
}
@media (max-width: 749px) {
.cart-item__quantity .medium-down {
	float: left;
	margin-top: 8px;
	margin-right: 8px;
}
  .cart-items td, .cart-items th {
	border-bottom: none;
}
  .cart-item cart-remove-button {
	margin-top: 0;
}
  .cart__items {
	border-bottom: 1px solid var(--color-base-border);
}
  cart-remove-button .button {
	min-width: 4rem;
	min-height: 4rem;
}
}

.is-empty .cart_empty_icon svg {
    width: 100px;
    height: 80px;
}