
.logo-bar__item {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
}
.logo-bar {
  margin: 0;
  background-color: var(--color-base-button-text-hover);
  border-radius: 5px;
  padding: 87px 15px 60px;
}
.logo-bar .owl-item {
  text-align: center;
  padding: 0 15px;
}
.logo-bar__image {
  max-width: 100%;
  position: relative;
  margin: 0 auto;
  
}

@media (max-width: 749px) {
    .logo-bar {
        padding: 60px 15px 45px;
    }
}

@media (max-width: 480px) {
    .logo-bar {
        padding: 30px 15px;
    }
}

@media (max-width: 479px) {
  .logo-bar {
    text-align: center;
  }
}